<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>日付計算アプリ　【更新】</title>
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
</head>
<body>
<h1>更新後の加減算式を入力してください(update.html)</h1>
<form method="post" th:action="@{/update/id={id}(id=*{id})}" th:object="{dateCalc}">
<table border=1>
<thead>
<tr>
<th>計算式ID</th>
<th>計算式名</th>
<th>加減年</th>
<th>加減月</th>
<th>加減日</th>
</tr>
</thead>
<tbody>
            <tr>
                <td><p>計算式ID：<span border="1" th:text="*{id}"></span></p></td>
                <td><input type="text" th:field="*{name}" placeholder="任意の文字"><br>
                    <span class="form-error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span></td>

                <td><input type="text" th:field="*{plusyear}" placeholder="半角数字"><br>
                    <span class="form-error" th:if="${#fields.hasErrors('plusyear')}">入力値エラー</span></td>

                <td><input type="text" th:field="*{plusmonth}" placeholder="半角数字"><br>
                    <span class="form-error" th:if="${#fields.hasErrors('plusmonth')}">入力値エラー</span></td>

                <td><input type="text" th:field="*{plusday}" placeholder="半角数字"><br>
                    <span class="form-error" th:if="${#fields.hasErrors('plusday')}">入力値エラー</span></td>
            </tr>
</tbody>
</table>
<button>更新</button>
</form>
</body>
</html>